#page-top {
	font-family: Courier;
	color: white;
	background-image: url("../images/background.jpg")

}

h1 {
	color: white;
	display: block;
}

#navbar {
	color: white;
	background-color: black;
	opacity: 0.5;
	width:100%;
	height: 4em;
}